@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {font-family: 'Architects Daughter', cursive;}

:root{
  --border-radius: 0.5em;
  --header-color: rgb(50, 50, 50);
  --clrBrw: #663300;
  --clrBlu: #006699;
  --clrWht: #efefef;
  --clrGrn: #339933;
  --clrOrg: #cc9900;
  --clrDrkGrn: #2d862d;
  --clrSlm: #ff6666;
  --clrBrx: #800000;
}

body {
	margin: auto;

  overflow-x: hidden;
	display: flex;
	flex-direction: column;
	background-color: var(--clrDrkGrn);
}

.topPic {
	align-self: center;
	width: 75%;
	height: 400px;

	margin: 0 0 20px;

	border-style: ridge;
	border-color: var(--clrBrw);
}

.page{
	display: grid;            
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;            
	grid-gap: 20px;
}

header {
	text-align: center;

	/*grid-column: 1/7;
	grid-row: 1;*/

	width: 100%;
	height: 70px;

	/*top: 0;*/

	display:table;

	margin: 0 0 20px;

	background-position: center;
	background-image: url("../images/top_banner.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

header h1 {
	position: relative;
	/*top: -17px;*/
	
	display:table-cell;
	vertical-align: text-top;

	color: var(--clrWht);
}

.navbar {
	display: grid;            
	grid-template-columns: 1fr;            
	grid-gap: 20px;

	text-align: left;

	grid-column: 1;
	grid-auto-rows: minmax(min-content, max-content);

	min-width: 280px;

	background-image: url("../images/wood_pattern.png");
	background-color: var(--clrSlm);

	color: var(--clrWht);

	border-style: ridge;
	border-color: var(--clrBrw);
}

#breadcrumb {
	font-size: 1.3em;
	grid-column: 1;
	grid-row: 1/2;
}

#menu {
	text-decoration: none;

  	font-size: 1.3em;
  	font-weight: lighter;
  	letter-spacing: 1px;
  	transition: .25s ease-in-out;


	grid-column: 1;
	grid-auto-rows: minmax(min-content, max-content);
}

.navbar ul {
	position: relative;

	color: var(--clrWht);
}

.navbar ul li {
  list-style: none;
  position: relative;
}

#menu ul li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  display: inline-block;
  height: 15px;
  width: 15px;
  background-size: contain;
  background-image: url("../images/list_horse_shoe.png");
}


#breadcrumb li:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -28px;
  display: inline-block;
  height: 25px;
  width: 25px;
  /* TODO: aggiungi immagine */
  /* background-size: contain;
  background-image: url(""); */
}

#breadcrumb li:last-child:before {
  background-size: contain;
  background-image: url("../images/arrow.png");
}

.navbar a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: .25s ease-in-out;
}

a:visited {
  color: var(--clrBlu);
}

a:hover {
  color: var(--clrDrkGrn);
}

a:focus {
  border-style: ridge;
  border-color: var(--clrDrkGrn);
}
.cards a:focus {
  border: unset;
}

.tracks {
  grid-column: 1;
  grid-auto-rows: 33.3%;


  background-image: url("../images/horse-tracks.png");
  background-size: cover;
 background-repeat: repeat; 
}

main {
	/*width: 84%;*/
	/*float: right;*/

	background-image: url("../images/wood_pattern.png");
	background-color: var(--clrBrw);

	grid-column: 2/7;
	grid-row: 1/10; 

	color: var(--clrWht);

	border-style: ridge;
	border-color: var(--clrBrw);
}

main dl {
	margin: 5px;
}

footer {
	/*width: 100%;*/
	/*position: absolute; 
	bottom: 0;*/

	display: grid;            
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;            
	grid-gap: 20px;


  border-radius: 0.5em;
	background-color: var(--clrBlu);
	grid-column: 1/7;
	grid-row: 10; 
}

#copyright {
  grid-column: 3/7;
  grid-auto-rows: minmax(min-content, max-content);
  margin-top: 10px;
}
#copyright p {
  background: white;
  border-radius: 0.5em;
  margin-top: 10px;  
}
footer ul {
	/*grid-column: 3/7;*/
  padding: 0;
	/*transform: translate(-50px, -50%);*/
}

footer ul li{
  	display: inline-block;
  	list-style: none;
  	width: 60px;
  	height: 18px;
  	background: white;
  	border-radius: 0.5em;
  	margin: 0 auto;

}

footer .logo{
	grid-column: 2;
	grid-row: 1; 

  margin-top: 20px;
  	width: 50px;
  	height: 50px;
  	border-radius: 0.5em;
}

.logo{ 

  	width: 50px;
  	height: 50px;
  	border-radius: 0.5em;
}

#img-valid-code {
	grid-column: 1;
	margin: 5px;
  grid-row-end: 3;
}

#img-valid-css {
	grid-column: 7;
	margin: 5px;
  grid-row-end: 3;
}




/*.wrap{
  max-width: 100%;
  min-width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  border-radius: var(--border-radius);
  z-index: 0;
  height: 100%;
  padding: 5px 0 5px 0;
  background: var(--clr3);
}

.wrapper{
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
  border-radius: var(--border-radius);
  z-index: 0;
  background: var(--clr5);
}
*/
.cards {
  width: 100%;
  padding: 0px;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
/*  align-self: center;
  margin: 2px 0px 2px 0px;*/
  text-align: center;
}
.card {
  min-width: 24em;
  background: var(--clrBrw);
  width: calc(24% - 15px);
  margin: 5px 5px 5px 5px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  color: var(--clrGrn);
}

.card .headline {
  display: block;
  margin: 0 auto;
  list-style: none;
  max-width: 260px;
  height: 30px;
  /*background: var(--clrGrn);*/
  border-radius: var(--border-radius);
}
.card .text {
  display: block;
  margin: 10px auto;
  max-width: 500px;
  height: 20px;
  /*background: var(--clrGrn);*/
  border-radius: var(--border-radius);
}
.card .button {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 120px;
  height: 35px;
  background: var(--clrOrg);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 1.2em;
}
.card a {
  text-decoration: none;
}

.cards .content {
  padding: 0;
  padding-bottom: 5px;
  vertical-align: bottom;
}
.cards img {
  width: 100%;
  height: auto;
  position: center;
  border-radius: var(--border-radius);
}




.contentbox{
	flex: 1;
}



table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin: 20px 0 20px 0;
  border-radius: var(--border-radius);
  color: var(--clrOrg);
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background: var(--clrBrw);
  border: 1px solid var(--clrOrg);
  padding: .35em;
  border-radius: var(--border-radius);
}

table th,
table td {
  padding: .625em;
  text-align: center;
  border-radius: var(--border-radius);
}

table td a{
  color: #ddd;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-radius: var(--border-radius);
}



#h1data {
	text-align: center;
}

#h1data span {
	color: var(--clrOrg);
}

.centerLink {
	/*background-color: var(--clrBrw);
*/	text-align: center;
	font-size: 1.5em;
}
.centerLink a {
	background-color: var(--clrBrw);
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
}

.flex-pc {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
            
ol {
  width: 30%;
  align-self: center;
  counter-reset: li; 
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol a {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: var(--clrBrw);
  color: #444;
  text-decoration: none;
  text-align: center;
  transition: all .3s ease-out;
  color: var(--clrWht);
}

ol a:hover {background: var(--clrSlm);}       
ol a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: var(--clrOrg);
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

ol a:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

ol a:hover:after {
  left: -.5em;
  border-left-color: var(--clrOrg);
}
    
form{
  text-align: center;
  margin: 0 0 0 35%;
  width: 450px;
  font-size: 16px;
  background: var(--clrBrw);
  padding: 30px 30px 15px 30px;
  border: 5px solid var(--clrOrg);
}

form input[type=submit],
form input[type=button],
form input[type=text],
form input[type=password],
form input[type=email],
form input[type=date],
form label
{
  font-size: 16px;
  color: var(--clrOrg);

}
form label {
  display:block;
  margin-bottom: 10px;
}
form label > span{
  float: left;
  width: 150px;
}
form input[type=text],
form input[type=password],
form input[type=date],
form input[type=email] 
{
  background: transparent;
  border: none;
  border-bottom: 1px dashed var(--clrOrg);
  width: 275px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
}

form input[type=text]:focus,
form input[type=password]:focus,
form input[type=date]:focus,
form input[type=email]:focus
{
  border: 4px solid var(--clrOrg);
}

form input[type=submit],
form input[type=button]{
  background: var(--clrGrn);
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: var(--clrOrg);
}
form input[type=submit]:hover,
form input[type=button]:hover{
background: var(--clrDrkGrn);
}


.red {
	color: var(--clrSlm);
}

.green {
	color: var(--clrGrn);
}

.imgContent {
	width: 40%;

	height: auto;

	align-self: center;
  border-style: ridge;
  border-color: var(--clrBrw);

}

.right-element {
	float: right !important;
}
.left-element {
	float: left !important;
}
.center-element {
	float: center !important;
}



main dl:after {content:"";display:table;clear:both;}
main dd {
    padding:.5em 0;
}
main dl {
    width:100%;
}
main dt, dd {
    display: inline-block;
    width:30%;
}
main dt {
    text-align:right;
    font-weight:bold;
    clear:left;
    float:left;
}
main dd {
    width:70%;
    padding-left:1em;
    clear:right;
}
main dd + dd {
    float:right;
    clear:both;
}
main dt:first-child {
    padding-top:.5em;
}
main dd + dt {
    clear:both;
    padding-top:.5em;
}
main dt + dt + dd {
    margin-top: -2em;
}
main dt + dt + dd + dt {
    margin-top: 2em;
}

.flex-home {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}